body
{
	background: #e5e5e5;
	margin: 0;
}

body, h1, div
{
	font-family: "proxima-nova", Tahoma, sans-serif;
	font-style: normal;
	font-weight: 100;
}

a, a:visited, a:hover, a:active
{
	outline: none;
}

strong
{
	font-weight: 300;
}

header
{
	background: #fff;
	padding: 10px 0 1px;
	text-align: center;
}

header h1
{
	font-size: 40px;
	line-height: 48px;
	margin: 0 0 10px;
	padding: 0;
}

.bar
{
	background: #e5e5e5;
	height: 10px;
	line-height: 10px;
	margin-bottom: 5px;
}

.body
{
	background: #fff;
}

.body-content
{
	margin: 0 auto;
	padding: 40px 0;
}

.yes-no-box
{
	background: #f7f7f7;
	border-radius: 5px;
	box-sizing: border-box;
	-mox-box-sizing: border-box;
	height: 150px;
	margin: 0 auto 40px;
	padding: 10px;
	width: 600px;
}

.yes-box, .no-box
{
	background: #ededed;
	border-radius: 3px;
	box-sizing: border-box;
	-mox-box-sizing: border-box;
	color: #dadada;
	display: inline-block;
	float: left;
	font-size: 100px;
	height: 130px;
	line-height: 100px;
	padding-top: 17px;
	text-align: center;
	width: 285px;
}
.no-box
{
	float: right;
}
.yes-box.on, .no-box.on
{
	background: #fdb94b;
	color: #fff;
}

a.sse-link, a.sse-link:visited, a.sse-link:hover
{
	color: #333333;
	border-radius: 3px;
	box-sizing: border-box;
	-mox-box-sizing: border-box;
	display: block;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: 350px;
}

a.sse-link:hover
{
	background: #f2f2f2;
}

footer
{
	font-size: 14px;
	line-height: 22px;
	padding: 50px 0 20px;
	text-align: center;
}

footer a, footer a:visited, footer a:hover
{
	color: #333333;
	border-radius: 3px;
	box-sizing: border-box;
	-mox-box-sizing: border-box;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	width: 350px;
}
footer a:hover
{
	background: #ddd;
}

@media (max-width: 600px)
{
	.mobile-block
	{
		display: block;
	}

	img
	{
		max-width: 100%;
	}

	header h1
	{
		font-size: 26px;
		line-height: 34px;
	}

	.yes-no-box
	{
		border-radius: 0;
		height: auto;
		margin: 0 auto 20px;
		padding: 10px;
		width: 100%;
	}

	.yes-box
	{
		margin-bottom: 10px;
	}
	.yes-box, .no-box
	{
		border-radius: 3px;
		display: block;
		float: none;
		font-size: 50px;
		height: auto;
		line-height: 60px;
		padding: 10px;
		width: 100%;
	}

	.body-content
	{
		padding: 20px 0;
		width: 100%;
	}

	a.sse-link, a.sse-link:visited, a.sse-link:hover
	{
		border-radius: 0;
		width: 100%;
	}

	footer
	{
		padding: 20px 0 10px;
	}

	footer a, footer a:visited, footer a:hover
	{
		border-radius: 0;
		width: 100%;
	}
}
